body {
    margin: 0;
}
h1 {
    border-bottom: solid 1px gray;
    text-align: center;
    margin:0;
    padding: 20px;
    font-size: 45px;
}
a {
    color: black;
    text-decoration: none;
}
#active {
    color: brown;
}
#grid {
    display: grid;
    grid-template-columns: 200px 1fr
}
#grid ol{
    padding-left:33px;
    padding-top: 20px;
    border-right: 1px gray solid ; 
    width: 150px;
    margin: 0px;
}
#grid div{
    padding-left:33px;
    padding-top: 20px;
}
h2 {
    padding-top:0;
    margin: 0;
}
@media(max-width:800px) {
    #grid {
        display: block;
    }
    #grid ol {
        padding-left:33px;
        padding-top: 20px;
        border-right: none ; 
        width: 150px;
        margin: 0px;
    }
    h1 {
        border-bottom: none;
        text-align: center;
        margin:0;
        padding: 20px;
        font-size: 45px;
    }
}