.slide_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_box {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.slide_list {
    margin: auto;
    height: 400px;
}

.slide_content {
    width: 400px;
    height: 400px;
    float: left;
}

.slide1 {
    background-color: aqua;
}

.slide2 {
    background-color: red;
}

.slide3 {
    background-color: blue;
}

.slide4 {
    background-color: black;
}

.slide5 {
    background-color: lightgray;
}

.slide6 {
    background-color: green;
}

.left_button {
    border: solid;
    width: 50px;
    height: 50px;
    margin-right: 10vw;
}

.right_button {
    border: solid;
    width: 50px;
    height: 50px;
    margin-left: 10vw;
}