body {
    margin: 0;
}

* {
    box-sizing: border-box;
}
.test {
    display: none;
}
.top-bar {
    width: 100%;
    height: 30px;
    padding: 0 280px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #262626;
}

.top-bar__item {
    color: white;
    padding: 0 10px;
    font-size: 12px;
}

.top-bar__item-center {
    border-left: solid rgba(221, 221, 221, 0.5) 0.1px;
    border-right: solid rgba(221, 221, 221, 0.5) 0.1px;
}

.fixed-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0 280px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 30px;
    transition: top ease-in 0.2s;
}

.fixed-nav__logo{
    display: flex;
    align-items: center;
    height:100%;
}

.logo-image {
    height:130%;
}

.fixed-nav__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:60%;
}

.fixed-nav__items__item {
    width:180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color ease-in 0.2s;
    margin: 0;
    padding: 0;
    height: 30px;
    font-size: 20px
}

.drop-down {
    list-style-type: none; 
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5) ;
}

.drop-down-item {
    display: flex;
    justify-content: center;
    transition: color ease-in 0.1s;
}
.drop-down-item:hover {
    color: rgb(173, 173, 173);
}

.fixed-nav__items__item-center {
    border-left: 1px rgba(221, 221, 221, 0.5) solid;
    border-right: 1px rgba(221, 221, 221, 0.5) solid;
}


.main {
    height:2500px;
}

.maim__slide-area {
    height: 770px;
}
.main__sliding-image {
    z-index: -1;
    position: relative;
    top: 130px;
    height: 640px;
    background-image: url(sea.jpg) ;
    background-size: cover;
}

.main__menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 40px  130px;
    /* width: 100%; */
    z-index: -1;
}

.main__menu__text {
    display: flex;
    justify-content: center;
    width: 100%;
    color: gray;
}

.main__menu__text__item1 {
    padding: 0 20px;
    font-size: 30px;
    border-right: rgba(221, 221, 221, 0.5) 1px solid;
    
}

.main__menu__text__item2 {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

.main__menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 100px;
    opacity: 0;
    z-index: -1;
}

.main__menu__items__item {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 320px;
}

.main__menu__items__item__image {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-size: cover;
    border-radius: 50%;
}

.main__menu__image1 {
    background-image: url('img/camera.jpeg');
}

.main__menu__image2 {
    background-image: url('img/drone.jpeg');
}

.main__menu__image3 {
    background-image: url(img/iphone.jpeg);
}

.main__menu__image4 {
    background-image: url(img/keyboard.jpeg);
}

.main__menu__items__item__text {
    font-size: 25px;
    color: rgb(155, 155, 155);
}

.main__information-image {
    z-index: -1;
    height: 500px;
    margin-top: 80px;
    background-image: url(wind.jpg) ;
    background-size: cover;
    background-attachment: fixed;

}

.main__map {
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    margin-top:30px;
    color: gray;
}

.main__map__map__item {
    
}

.main__map__textbox {
    width: 300px;
    margin: 70px;
}

.main__map__text_big {
    font-size: 30px;
}

.main__map__text_small {
    display: block;
    margin: 10px 0;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    background-color: #262626;
    color: white;
}

.footer__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width:75%;
    height: 40%;
    margin: auto;
    padding: 0 10%;

}

.footer__menu__item {
    width: auto;
    height: 50px;
    margin: 0 0.5%;
    border: 1px solid black;
    background-color: white;
}

.footer__information {
    margin: auto;
}

.footer__information__item {
    margin: 0 10px;
    font-size: 12px;
}

@media only screen and (max-width: 1350px) {
    .header {
        display: none;
    }
    .main {
        display: none;
    }
    .footer{
        display: none;
    }
    .test {
        display: block;
    }
}