h1 {
  font-size: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.Quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 80%;
  height: 70vh;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 80px;
}

.Quiz-question {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.Quiz-answer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Quiz-answer-box {
  width: 40%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px black solid;
  cursor: pointer;
  font-size: 50px;
}
